#main-nav a {
    color: #FFFFFF;
    background-color:#1A2238;
    display: block;
    height: 40px;
    font-weight: bold;
    align-items: center;
    justify-content: right;
    text-decoration: underline;
    margin:0;
    padding: .5rem;
}
#main-nav ul {
    list-style-type: none;
    display: flex;
}
#main-nav a:hover{
    background-color:#FF6A3D;
}
#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}
#main-nav li:hover .submenu > li {
    display: block;
    top:0px;
}
.submenu li{
    display: none;
    position: absolute;
    top: 0px;
}
.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
*{
    border: 0px;
    padding: 1px;
    margin: 0;
    }