@font-face {
   font-family: Splash-Regular;
   src: url('Shadows Into Light');
}
header h1 {
   color: #F4DB7D;
   font-family: 'Breathing Personal Use', sans-serif;
   background-color: #1A2238;
   text-align: center;
   min-height: 100%;
   text-align: center;
   border: solid;
   border-color:#FF6A3D;
}
header h2 {
   color: #FFFFFF;
   text-align: center;
   background-color: #1A2238;
   min-height: 100%;
   padding: 10px;
   border: solid;
   border-color:#000000;
   font-family: 'Handlee-Regular', sans-serif;
}
.grid{
   display:grid;
   grid-template-rows: 100px 1fr;
   grid-row-gap: 5px;
   line-height: 1.5;
}
.grid > div{
   background-color: #F4DB7D;
   padding: 10px;
   border: solid;
   border-color:#FF6A3D;
   line-height: 1.5;
}
footer {
   background-color: #FF6A3D;
   margin: 0px;
   padding: 6px;
   text-align: center;
   border: solid;
   border-color:#1A2238;
}
.resume {
   text-align: center;
   background-color: #F4DB7D;
   border-color: black;
   border: solid;
   padding: 25px;
   top: 0px;
   }
#img {
   float: left;
   padding: 20px
}
@media screen and (max-width: 768px)
and (orientation: landscape) {
   .gfg-div {
      width: 400px;
      height: 200px;
      background-color: #ffffff;
      color:black;
   }
}
/*apply to all four sides*/
body {margin:15px;padding:0px}

ul {
   list-style-type: disc;
   margin: 0px;
   padding: 0px
}
P {
   line-height: 1.5;
}
div {
   line-height: 1.5;
}
blockquote {font-family: 'Shadows Into Light', cursive;}
@media print {
   #img,
   #hamnav,
   #hamitems,
   .submenu,
   .resume {
      display: none !important;
   }
body {
   font-family: Georgia, serif;}
}
/* override styles when printing */
@media print {
   @page {
       margin-top: 0;
       margin-bottom: 0;
   }
   body {
       padding-top: 72px;
       padding-bottom: 72px;
       background-color: transparent;
   }
#myheader {
   color: black;
   font-family:'Times New Roman', Times, serif;
}  
}