header h1 {
   color: #F4DB7D;
   font-family: 'Breathing Personal Use', sans-serif;
   background-color: #1A2238;
   text-align: center;
   min-height: 100%;
   text-align: center;
   border: solid;
   border-color:#FF6A3D;
}
header h2 {
   color: #FF6A3D;
   font-family: sans-serif;
   text-align: center;
   background-color: #1A2238;
   min-height: 100%;
}
.box-one {
   width: 800px;
   height: 500px;
   margin: 10px;
   padding: 25px;
   border: none;
}
.grid{
   display:grid;
   grid-template-rows: 50%;
   grid-row-gap: 5px;
   
}
.grid > div{
   background-color: #F4DB7D;
   padding: 10px;
   border: solid;
   border-color:#1A2238;
}
footer {
   background-color: #FF6A3D;
   margin: 0px;
   padding: 2px;
   text-align: center;
   border: solid;
   border-color:#1A2238;
}
.resume {
   text-align: center;
   background-color: #F4DB7D
   }
p {line-height: 22px;
margin-bottom: 10px}
img {
   float: left;
   padding: 20px
}